<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Прием платежа с помощью виджета ЮKassa</title>

  <!--Подключение библиотеки для инициализации виджета ЮKassa-->
  <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
 </head>
 <body>
  Ниже отобразится платежная форма. Если вы еще не создавали платеж и не передавали токен для инициализации виджета, появится сообщение об ошибке.

  <!--Контейнер, в котором будет отображаться платежная форма-->
  <div id="payment-form"></div>

  Данные банковской карты для оплаты в <b>тестовом магазине</b>:

   - номер — <b>5555 5555 5555 4477</b>
   - срок действия — <b>01/30</b> (или другая дата, больше текущей)
   - CVC — <b>123</b> (или три любые цифры)
   - код для прохождения 3-D Secure — <b>123</b> (или три любые цифры)

  <a href=https://yookassa.ru/developers/payment-acceptance/testing-and-going-live/testing#test-bank-card>Другие тестовые банковские карты</a>

  <script>

  //Инициализация виджета. Все параметры обязательные.
  const checkout = new window.YooMoneyCheckoutWidget({
      confirmation_token: 'ct-287e0c37-000f-5000-8000-16961d35b0fd',
      return_url: 'https://demo.yookassa.ru/'
      //Ссылка на страницу завершения оплаты, это может быть любая ваша страница

      error_callback: function(error) {
          console.log(error)
      }
  });

  //Отображение платежной формы в контейнере
  checkout.render('payment-form');
  </script>
 </body>
</html>

